.output-box-styling {
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  height: 400px;
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

  @media (max-width: 768px) {
    width: 95%;
  }
}

.node-styling {
  white-space: pre-wrap;
  word-break: keep-all;
  margin: 0;
}

.font-spacing {
  margin-top: 40px;
}