.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

body {
  background-color: #282c34;
}

.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-style {
  height: 40px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
