.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

body {
  background-color: #282c34;
}

.App-header {
  color: white;
}

.instructions-container {
  max-width: 1200px;
  margin: 1rem auto;
  text-align: left;
  padding: 0 1rem;
}

.App-link {
  color: #61dafb;
}

.instructions-container li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.button-style {
  height: 40px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
