.vertically-stack-children {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.node-item {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.selected {
    background: grey;
  }

  &.child-or-descendant {
    background: lightgrey;
  }

  &.default {
    background: transparent;
  }
}

.input-box-size {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;

  @media (max-width: 768px) {
      width: 95%;
  }
}

.input-box-styling {
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  height: 400px;
  border: 1px solid black;
  padding: 5px;
  -webkit-tap-highlight-color: transparent;
}

.icon-alignment {
  vertical-align: middle;
  margin-right: 5px;
}
